/* Reset page properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Divide the  page into 12 colums */
[class*="col-"] {   
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* CSS Custom Variables */
:root{
    --prim-color: white;
    --sec-color: black;
    --text-color1:wheat;
    --textcolor2:var(--prim-color);
    --trans-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.779) 50%, transparent 0);
    --button-shadow: 0px 15px 20px rgba(36, 37, 36, 7);
    --float-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.mainContent{
    min-height: 100vh;
    width: 100%;
    background-image: url("../../images/background/bw_word_map_sketch.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    backdrop-filter: blur(8px);
    background-position: center;
}


/* Buttons */

/* .buttons{
    display:inline-block;
    background-image: linear-gradient(to right, black 50%, transparent 0);
    background-color: transparent;
    background-size: 200% 200px;
    background-position: right;
    background-origin: border-box;
    border:  dotted black;
    border-radius: 25px;
    cursor: pointer;
    color: wheat;
    padding: 8px;
    font-size: 16px;
    transition: background-position .5s;
} */

.buttons{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    padding:0;
    width: fit-content;
    background-color:transparent;
    margin: 0;
    border-radius: 25px;
}

.button{
    /* Text side of things */
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color:var(--text-color1);

    /* Button side of things */
    display:inline-block;
    background-image: var(--trans-gradient);
    background-color: transparent;
    background-size: 200% 200px;
    background-position: right;
    background-origin: border-box;
    border: dotted var(--prim-color);
    box-shadow: var(--button-shadow) ;
    border-radius: 25px;
    cursor: pointer;
    transition: background-position .5s;
    padding: 10px 20px;
    margin-right: 20px;
}

.button:hover{
    box-shadow:var(--float-shadow);
    border: solid black; 
    color: rgb(0, 0, 0);
    background-position: left;
}



img{
    border: none;
    outline: none;
}

img:hover{
    background-color: aqua;
}


/* IMPLIMENTS EXPLORE BUTTON */
.exploreButton [type=submit]{
    position: relative;
    display: inline-block;
    background-image: var(--trans-gradient);
    background-color: transparent;
    background-size: 200% 200px;
    background-position: right;
    background-origin: border-box;
    border: dotted black;
    border-radius: 25px;
    width: 50%;
    margin-top: 20%;
    padding: 8px;
    font-size: 14px;
    transition: background-position .5s;
    visibility: hidden;
}
/* Mobile Resposive */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
      width: 100%;
    }

}